/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
.button,
.btn,
header .buttons .btn-login {
  all: unset;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* reset end */
/* utils */
.container {
  width: 550px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  padding-inline: 3rem;
}

.flex, section#gallery .container, section#contents .container .content-card, section#hero #hero-info .btns, section#hero #hero-info, header .buttons, header .container {
  display: flex;
}

.align-center, section#contents .container .content-card, section#hero #hero-info, header .buttons, header .container {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: start;
}

.justify-center, section#gallery .container {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between, header .buttons, header .container {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-between;
}

.flex-column, section#gallery .container, section#contents .container .content-card, section#hero #hero-info .btns, section#hero #hero-info {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.gap-0, section#hero #hero-info .btns {
  gap: 1.5rem;
}

.gap-1, section#hero #hero-info {
  gap: 1rem;
}

.gap-2, section#gallery .container, header .buttons {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: 1rem;
}

.text-md {
  font-size: 2rem;
}

.text-lg {
  font-size: 3rem;
}

.text-xl {
  font-size: 4rem;
}

.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin-inline: 1rem;
}

.my-1 {
  margin-block: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mx-2 {
  margin-inline: 2rem;
}

.my-2 {
  margin-block: 2rem;
}

.m-3 {
  margin: 3rem;
}

.mx-3 {
  margin-inline: 3rem;
}

.my-3 {
  margin-block: 3rem;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding-inline: 1rem;
}

.py-1 {
  padding-block: 1rem;
}

.p-2 {
  padding: 2rem;
}

.px-2 {
  padding-inline: 2rem;
}

.py-2 {
  padding-block: 2rem;
}

.p-3 {
  padding: 3rem;
}

.px-3 {
  padding-inline: 3rem;
}

.py-3 {
  padding-block: 3rem;
}

/* utils end */
@media (min-width: 1220px) {
  header .container {
    width: 1200px;
  }
  header .container .navbar {
    display: flex;
  }
  header .container .buttons {
    justify-content: end;
  }
  header .container .buttons label {
    display: none;
  }
  section#hero .container {
    width: 1200px;
  }
  section#hero .container #hero-info {
    text-align: center;
  }
  section#hero .container #hero-info h1 {
    width: 710px;
  }
  section#hero .container #hero-info p {
    width: 582px;
  }
  section#hero .container #hero-info .btns {
    margin-top: 50px;
    flex-direction: row;
  }
  section#hero .container #hero-gradient {
    height: 680px;
  }
  section#hero .container #hero-gradient .img-1 {
    width: 100%;
    left: 0;
  }
  section#features .container {
    width: 1200px;
  }
  section#features .container .f-text {
    width: 582px;
  }
  section#features .container .box {
    display: flex;
    gap: 75px;
    justify-content: center;
  }
  section#features .container .box .box-img {
    margin-bottom: 0 !important;
  }
  section#features .container .box .box-img .absolute-img-1 {
    width: 696px;
  }
  section#features .container .box .box-img #ab-img {
    width: 420px;
    position: absolute;
    left: 43%;
    top: 60%;
  }
  section#contents #cards {
    width: 1200px;
    display: flex;
    padding: 0 100px;
    gap: 33px;
    justify-content: center;
  }
  section#contents #cards img {
    width: 100%;
  }
  section#gallery .container {
    width: 1200px;
    text-align: center;
  }
  section#gallery .container h2 {
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 119.231% */
    letter-spacing: 0.2px;
  }
  section#gallery .container .images-box-1 {
    display: none;
  }
  section#gallery .container .images-box-1 img {
    border-radius: 10px;
  }
  section#gallery .container #imgbox2 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  section#gallery .container #imgbox2 img {
    max-width: 350px;
    border-radius: 10px;
  }
  section#gallery .container .btn, section#gallery .container header .buttons .btn-login, header .buttons section#gallery .container .btn-login {
    width: 178px;
    height: 65px;
    padding: 10px 30px;
    margin: 0 auto;
    color: #fff;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.2px;
    border: 1px solid #fff;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  }
  section#gallery .container .btn:hover, section#gallery .container header .buttons .btn-login:hover, header .buttons section#gallery .container .btn-login:hover {
    box-shadow: 0px 4px 31px 0px rgba(205, 193, 193, 0.795);
  }
}
body {
  background-color: #181818;
  color: #fff;
}

header {
  padding: 26px 16px 24px;
}
header .logo {
  padding: 10px;
}
header .navbar {
  display: none;
}
header .buttons {
  width: 220px;
}
header .buttons .btn-login {
  width: 140px;
  height: 52px;
  padding: 20px 56px;
  color: #fff;
  font-size: 17px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
header .buttons .btn-login:hover {
  box-shadow: 0px 4px 31px 0px rgba(205, 193, 193, 0.795);
}

section#hero #hero-info {
  text-align: center;
  padding: 57px 0;
}
section#hero #hero-info h1 {
  width: 300px;
  height: 186px;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 400;
  padding: 10px;
}
section#hero #hero-info p {
  width: 382px;
  font-size: 20px;
  padding: 10px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
}
section#hero #hero-info .btns .btn-blue {
  width: 178px;
  height: 65px;
  padding: 10px 30px;
  color: #fff;
  background: #4452fe;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
section#hero #hero-info .btns .btn-blue:hover {
  box-shadow: 0px 4px 31px 0px rgba(205, 193, 193, 0.795);
}
section#hero #hero-info .btns .btn, section#hero #hero-info .btns header .buttons .btn-login, header .buttons section#hero #hero-info .btns .btn-login {
  width: 178px;
  height: 65px;
  padding: 10px 30px;
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
section#hero #hero-info .btns .btn:hover, section#hero #hero-info .btns header .buttons .btn-login:hover, header .buttons section#hero #hero-info .btns .btn-login:hover {
  box-shadow: 0px 4px 31px 0px rgba(205, 193, 193, 0.795);
}
section#hero #hero-gradient {
  position: relative;
  height: 435px;
  text-align: center;
  overflow: hidden;
}
section#hero #hero-gradient .img-1 {
  position: absolute;
  min-width: 740px;
  left: -95px;
}
section#hero #hero-gradient .img-2 {
  width: 100%;
  display: none;
}
section#hero #hero-gradient .gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 328px;
  background: linear-gradient(180deg, rgba(30, 30, 30, 0) 0%, #0e0e0e 100%);
}

section#features {
  margin: 100px 0;
  padding: 62px 50px;
}
section#features .container {
  text-align: center;
}
section#features .container h2 {
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.2px;
}
section#features .container p {
  width: 411px;
  margin: 27px auto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
}
section#features .container .box {
  text-align: center;
}
section#features .container .box .box-img {
  margin-bottom: 145px;
  position: relative;
}
section#features .container .box .box-img .absolute-img {
  position: absolute;
  left: 132px;
  top: 200px;
}
section#features .container .box ul li {
  text-align: left;
  margin-bottom: 35px;
}
section#features .container .box ul li h3 {
  width: 205px;
  font-size: 20px;
  padding: 10px 0;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}
section#features .container .box ul li h3 span {
  margin-right: 10px;
}
section#features .container .box ul li p {
  width: 250px;
  margin: 10px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
}

section#contents .container {
  padding: 50px 100px;
}
section#contents .container h2 {
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.2px;
}
section#contents .container p {
  font-size: 20px;
  font-style: normal;
  text-align: center;
  margin-bottom: 45px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
}
section#contents .container .content-card {
  gap: 57px;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: #181818;
}
section#contents .container .content-card h3 {
  padding-inline: 70px;
  text-align: center;
}
section#contents .container .content-card p {
  color: #5c5c5c;
}
section#contents .container .content-card .btn-blue {
  width: 178px;
  height: 65px;
  padding: 10px 30px;
  color: #fff;
  background: #4452fe;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
section#contents .container .content-card .btn-blue:hover {
  box-shadow: 0px 4px 31px 0px rgb(130, 126, 126);
}
section#contents .container .gap-2, section#contents .container section#gallery .container, section#gallery section#contents .container .container, section#contents .container header .buttons, header section#contents .container .buttons {
  gap: 40px;
}

section#gallery {
  margin-bottom: 100px;
}
section#gallery .container {
  padding-inline: 100px;
  text-align: center;
}
section#gallery .container h2 {
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px; /* 119.231% */
  letter-spacing: 0.2px;
}
section#gallery .container .images-box-1 img {
  border-radius: 10px;
}
section#gallery .container .images-box-2 {
  display: none;
}/*# sourceMappingURL=main.css.map */